button {
    all: unset;

    height: 32px;
    width: 120px;
    border-radius: 8px;

    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;

    text-align: center;
    cursor: pointer;
}

.active:hover {
    opacity: 0.8;
}

.disabled {
    cursor: default;
    opacity: 0.8;
}

.input {
    background-color: var(--btn-input);
    color: var(--font-white);
}

.delete {
    background-color: var(--btn-delete);
    color: var(--font-white);
}

.cancel {
    background-color: var(--btn-cancel);
    color: var(--font-black);
    border: 1px solid #999999
}

.save {
    background-color: var(--btn-save);
    color: var(--font-white);
}