:root {
    --btn-input: #7695EC;
    --btn-delete: #FF5151;
    --btn-cancel: #FFFFFF;

    --font-white: #FFFFFF;
    --font-black: #000000;

    --body-color: #FFFFFF;
    --background-color: #DDD;
    --post-information-color: #777777;

    --headers-color: #7695EC;
}

body {
    display: flex;
    justify-content: center;

    width: 100vw;

    background-color: var(--background-color);
}