.container-post-writer {
    display: flex;
    flex-direction: column;

    height: 334px;
    width: 752px;
    padding: 24px;
    margin: 24px;

    border-radius: 16px;
    border: 1px solid #999999;
}

.container-post-writer>h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.form-post-writer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin-top: 24px;
}

.form-post-writer label {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}


.form-post-writer input:first-of-type {
    all: unset;

    height: 32px;
    width: auto;
    padding-left: 11px;
    margin-top: 8px;
    margin-bottom: 24px;

    border: 1px solid #777777;
    border-radius: 8px;

}

.form-post-writer textarea {
    all: unset;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    height: 74px;
    width: auto;
    padding: 8px 11px;
    margin-top: 8px;
    margin-bottom: 12px;


    border: 1px solid #777777;
    border-radius: 8px;

    word-wrap: break-word;
}



.form-post-writer>button {
    align-self: flex-end;
}